apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: content-platform-api-hpa
  namespace: content-platform-vnext
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: content-platform-api-vnext
  minReplicas: 1
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
